<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>

    <packageSources>
        <!--<add key="Local Repository" value="C:\NugetSource" />-->
    </packageSources>

    <bindingRedirects>
        <add key="skip" value="False" />
    </bindingRedirects>

    <packageManagement>
        <add key="format" value="0" />
        <add key="disabled" value="False" />
    </packageManagement>
</configuration>