@{
    ViewData["Title"] = "Clean DDD Architecture Sample";
}
<div class="row">
    <div class="col-md-4">
        <h3>Using this template</h3>
        <p>
            This template includes support for:
            <ul>
                <li>APIs using API Endpoints (in the /Endpoints/ProjectEndpoints folder)</li>
                <li>APIs using FastEnpoints/Minimal APIs (in the /Endpoints/ContributorEndpoints folder)</li>
                <li>APIs using Controllers (in the /Api and /ApiModels folders)</li>
                <li>Pages using Razor Pages (in the /Pages folder and /Views/Shared folder)</li>
                <li>Pages using Controllers and Views (in the /Controllers, /ViewModels, and /Views folders - keep /Views/Shared for Razor Pages though)</li>
            </ul>
            Choose which features you will use for your project and delete the ones you will not use.
        </p>
        <p>
            Provide feedback and report issues in the <a href="https://github.com/ardalis/CleanArchitecture">project's GitHub repository</a>; ask questions using the <a href="https://stackoverflow.com/questions/tagged/ardalis-cleanarchitecture?tab=Newest">ardalis-cleanarchitecture tag on StackOverflow</a>.
        </p>
    </div>
    <div class="col-md-4">
        <h3>APIs</h3>
        Shows both Controller and Endpoint APIs.
        <ul>
            <li><a href="/swagger">API Documentation (Swagger)</a></li>
        </ul>
        <h3>Projects (using Razor Pages)</h3>
        <ul>
            <li><a asp-page="/ProjectDetails/Index" asp-route-ProjectId="1">Show Project ID:1 and its To Do Items</a></li>
            <li><a asp-page="/ProjectDetails/Incomplete">List Incomplete To Do Items</a></li>
        </ul>
        <h3>Projects (using MVC Views)</h3>
        <ul>
            <li><a asp-area="" asp-controller="Project" asp-action="Index" asp-route-projectId="1">Show Project ID:1 and its To Do Items</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>About the Author</h3>
        <ul>
            <li><a href="https://ardalis.com">Blog - Ardalis.com</a></li>
            <li><a href="https://twitter.com/ardalis">Twitter - @@ardalis</a></li>
            <li><a href="https://github.com/ardalis">GitHub</a></li>
            <li><a href="https://www.pluralsight.com/authors/steve-smith">Latest Pluralsight Courses</a></li>
        </ul>
        <h3>More resources for this template</h3>
        <ul>
            <li><a href="https://github.com/ardalis/CleanArchitecture">CleanArchitecture GitHub repository</a></li>
            <li><a href="https://stackoverflow.com/questions/tagged/ardalis-cleanarchitecture?tab=Newest">Ardalis-CleanArchitecture on Stack Overflow</a></li>
            <li><a href="https://www.pluralsight.com/courses/domain-driven-design-fundamentals">Domain-Driven Design Fundamentals Course (Pluralsight)</a></li>
            <li><a href="https://www.pluralsight.com/courses/n-tier-apps-part1">Creating N-Tier Applications in C# Course (Part 1) (Pluralsight)</a></li>
            <li><a href="https://www.pluralsight.com/courses/n-tier-csharp-part2">Creating N-Tier Applications in C# Course (Part 2) (Pluralsight)</a></li>
        </ul>
    </div>
</div>
