@page
@model Clean.Architecture.Web.Pages.ToDoRazorPage.IncompleteModel

<h2>Incomplete To Do Items (Razor Page)</h2>
<ul>
    @if (Model.ToDoItems != null)
    {
        @foreach (var item in Model.ToDoItems)
        {
            <li>
                @item.Title
                @if (item.IsDone)
                {
                    <span>DONE!</span>
                }
                else
                {
                    <span>NOT DONE</span>
                }
                <br/>@item.Description
            </li>
        }
    }
</ul>
