@model CleanArchitecture.Core.Entities.Foo
@{
    ViewData["Title"] = "Clean DDD Architecture Sample";
}

<div class="row">
    <div class="col-md-6">
        <h2>Update Experiment</h2>
        <ul>
            @if (Model.Name == "Scott")
            {
                <li>Experiment already run. To see again, restart application.</li>
            }
            else
            {
                <li>Model with nested entity original state: (Foo.Name - @Model.Name | Foo.Bar.Number: @Model.Bar.Number)</li>
                <li><a asp-area="" asp-controller="ToDo" asp-action="Index">Click here to see if update worked</a></li>
            }
        </ul>
    </div>
    <div class="col-md-6">
        <h2>About the Author</h2>
        <ul>
            <li><a href="https://ardalis.com">Blog - Ardalis.com</a></li>
            <li><a href="https://twitter.com/ardalis">Twitter - @@ardalis</a></li>
            <li><a href="https://github.com/ardalis">GitHub</a></li>
        </ul>
    </div>
</div>
